{% extends 'base.html.twig' %}

{% block title %}Wilder{% endblock %}

{% block body %}
    <h1>Wilder</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wilder.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ wilder.name }}</td>
            </tr>
            <tr>
                <th>Promo</th>
                <td>{{ wilder.promo }}</td>
            </tr>
            <tr>
                <th>Hair</th>
                <td>{{ wilder.hair ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Reconversion</th>
                <td>{{ wilder.reconversion ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Glasses</th>
                <td>{{ wilder.glasses ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Beard</th>
                <td>{{ wilder.beard ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Long_hair</th>
                <td>{{ wilder.longHair ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Children</th>
                <td>{{ wilder.children ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('wilder_index') }}">back to list</a>

    <a href="{{ path('wilder_edit', {'id': wilder.id}) }}">edit</a>

    {{ include('wilder/_delete_form.html.twig') }}
{% endblock %}
